@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.modalController {
  .modal-wrapper {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.toastController {
  margin: 0% 0%;
  width: 100%;
  text-align: center;
  font-size:large;
  font-weight: bolder;
}
.batteryStatusController {
  margin: 45% 0%;
  width: 100%;
  text-align: center;
  font-size:large;
  font-weight: bolder;
}

// 'Content-Security-Policy': [
//   `default-src ${customScheme}://* script-src http://www.ibnabizayd.com/api/planning https://public.radio.co/stations/se3f5b1713/status https://public.radio.co/stations/sc7b7527f0/status 'unsafe-inline' devtools://* 'unsafe-eval' data:`
